#Folders

dist/
output/
assets/
build/
__pycache__/
build_archive/

#Include these from excluded places
!assets/logo.png

#Files
Data/Data.xlsx
Idahome Data Draft.xlsx
IdahomeHours.ods
.DS_Store

#File Extensions
*.spec
*.ods#
*.xlsx#
*.orig
Data/Secret.txt
*.log
